﻿body {

}

#main-wrapper {

    width:100%;
    
}

.homepage-left-menu {

background-color:#FFF;
min-width: 70%;
max-height:400px;
float:left;
color:black;
font-family:sans-serif;
padding: 0 60px;
 
}

.homepage-right-menu {
    background-color:#e0d1dc;
    /*min-width: 28%;*/
    max-height:400px;
    float:right;
    text-align:center;
    font-family:sans-serif;
    
}
.content-area {
    float:right;
    width:100%;
    margin-top:20px;
}
.footer {

    background-color:#c4c4c4;
    min-width:100%;
    min-height:100px;
    float:right;
    color:white;
    text-align:center;
}
.margin-top-20 {
    margin-top:20px;
}

.margin-bottom-20 {
    margin-bottom:20px;
}
/*.checkbox  {
   margin: 0px 40px 5px 3px;
}*/
.footer p {
    font-size: x-large;
    color:#2fa873;
    
}
.footer input {
    color:white;
    font-size:20px;
    background-color:green;
}
.btnContainer {
    background-color:#c4c4c4;
    margin-top:15px;
    padding:15px;
    text-align:right;
}