﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layot.cshtml";
    var feature = ViewBag.chkfeature_;
}

<h2>Index</h2>
<h4>
    Name: @ViewBag.search<br />
    DropDown: @ViewBag.city<br />
    Feature : @ViewBag.chkf
</h4>