﻿@{
    Layout = "~/Views/Shared/_Layot.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("AddHouseImage", "HouseTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
     <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
