﻿@model HousingManagementSystem.Models.Home.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layot.cshtml";
    var count = Model.Featuries.Count;
    var reminder = 0;
}

@section head{
    <link href="~/Content/CustomStyleSheet.css" rel="stylesheet" />
    <script src="~/Content/vendor/bootstrap/js/jquery-ui.min.js"></script>
}

@using (Html.BeginForm("Index", "House", FormMethod.Post))
{

<div class="row">
    <div class="homepage-left-menu col-md-9" style="margin-left:-5px">
        <!--- srart paragraph---->
        <div class="row">
            <div class="col-12">
                <div class="paragraph ">
                    <h4 style="color: #2fa873">Holiday home in Finland</h4>
                    <p>
                        At Holiday Homes Finland we have made it easy for you<br />
                        and total holiday homes and apartments from more than
                        <br />
                        30 providers-
                    </p>
                </div>
            </div>
        </div>

        <!--- End paragraph---->

        <!-----Drop down,Date,------>
        <div class="row">
            <div class="col-md-6">

                @*<div class="col">*@
                <h4 style="color: #2fa873">Search holiday home</h4>
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Name", id = "name"})
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        @Html.DropDownList("city", new SelectList(@Model.Cities, "Id", "Name"), "Select city", new { @class = "form-control"})
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        @Html.TextBox("dateFrom", null, new { @class = "form-control", placeholder = "Date From",id = "dateFrom" })
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        @Html.TextBox("dateTo", null, new { @class = "form-control", placeholder = "Date To",id = "dateTo" })
                    </div>
                </div>

            </div>
            <!----- End Drop down,Date,------>

            <!-- Faclities -->
            <div class="col-md-6">
                <h4 style="color: #2fa873">Facilities</h4>

                @foreach (var feature in @Model.Featuries)
                {

                    bool renderRow = reminder % 2 == 0 ? true : false;
                    if (renderRow)
                    { 
                        @:<div class="row" style="margin-left:0px">
                    }
                    <div class="col-md-6">
                        @Html.CheckBox("chkfeature_" + feature.Id, new { @class = "styled", id = "chkfeature_" + feature.Id })
                        <label for="feature" style="font-weight:200;">
                            @feature.Name
                        </label>
                    </div>
                    if (renderRow)
                    { 
                        @:</div>
                    }
                    reminder++;
                }

                <!-- End Faclities -->
            </div>
        </div>




    </div>

    <div class="homepage-right-menu col-md-3">
        <div class="row">
             <div class="col-md-4">
            imgae here
            <img src="~/Content/smiley.jpg" height="66" width="84" />
        </div>
        </div>
       
    </div>
</div>
    
    <div class="row btnContainer">
            <div class="col-md-4">
                <span>72 holiday homes meet your wishes</span>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success" value="show houses" id="btnsubmit" name="btnsubmit" />
            </div>
            <div class="col-md-4">
                
            </div>
        </div>

}
 
<div>


<script>
        $(function () {
            $("#dateFrom").datepicker();
            $("#dateTo").datepicker();


        });
</script>


    @{
        Html.RenderPartial("_SearchHouses");
        
        
        }
</div>


@*<script>
    $(function () {
        $("#btnsubmit").click(function () {
            debugger;
            var model = {
                name: $("#name").val(),
                dateFrom: $("#dateFrom").val(),
                dateTo: $("#dateTo").val(),
                city: $("#city Option:Selected").text(),
                ferture: $(":input[type=checkbox]:checked").val()
            }

           var data = popuLateQuery(model)
           
                    $.ajax({
                        Type: "GET",
                        url: "/Home/Showjson",
                        data: data,
                        success: function (response) {
                            console.log("Mydata", response)

                        },
                        error: function () {
                            alert("There was an error. Try again please!");
                        }

                    })
                })
    });
    function popuLateQuery(data) {
        return "Select * from house Where name LIKE " + data.name + "% AND Created LIKE" + data.dateFrom + "WHERE Feature IN " + data.ferture;

    }

</script>*@

