﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="refresh" content="10" />*@
    @*<meta http-equiv="refresh" content="10; url=http://www.mytoptutorials.com" />*@
    <meta name="keywords" content="rent house, summer house" />
    
    <title>@ViewBag.Title</title>

    @*<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/css/custom-style.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/js/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/js/jquery-ui.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/jquery-ui.min.js"></script>

    @RenderSection("head", false)

</head>
<body>
    @RenderSection("section1", false)
        <nav class="navbar navbar-inverse nav-container">
            <div class="container-fluid padding-top-24">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Hosues</a></li>
                    <li><a href="#">Aboust</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                </ul>
            </div>
        </nav>
    

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="padding-top:5px;">
                <li>
                    <a href="#">Available Weeks</a>
                </li>
                <li>
                    <a href="#">Facilities</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <div>
                     @RenderBody()
                </div>
               
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    @* <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@


    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        
    </script>
</body>
</html>
